{{- $name := promptStringOnce . "name" "姓名" "Iven Hsu" -}}
{{- $email := promptStringOnce . "email" "电子邮箱" "ivenvd@gmail.com" -}}
{{- $ldap := promptStringOnce . "ldap" "LDAP" "" -}}

[data]
[data.user]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    ldap = {{ $ldap | quote }}

[merge]
    command = "nvim"
    args = ["-d", "{{"{{"}} .Destination {{"}}"}}", "{{"{{"}} .Source {{"}}"}}", "{{"{{"}} .Target {{"}}"}}"]
