[color]
    ui = auto
[commit]
{{- if not (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "centos")) }}
    gpgSign = true
{{- end }}
[core]
    pager = delta
    quotepath = false
[delta]
    navigate = true
    map-styles = bold purple => syntax magenta, bold cyan => syntax blue
[diff]
    colorMoved = default
[gpg]
    program = gpg2
[interactive]
    diffFilter = delta --color-only
[merge]
    conflictstyle = diff3
[pull]
    rebase = true
[push]
    default = current
[rebase]
    autoStash = true
[tag]
{{- if not (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "centos")) }}
    gpgSign = true
{{- end }}
[user]
    email = {{ .user.email }}
    name = {{ .user.name }}
    signingKey = D829E4EB662B22F8
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[credential "https://github.com"]
    helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
    helper =
	helper = !gh auth git-credential
